In [1]:
import pandas as pd

# Cleaning Spotify Songs

In [4]:
spotify_songs = pd.read_csv('data/19000-spotify-songs/song_info.csv')

In [5]:
spotify_songs = spotify_songs.drop('album_names', 1)
spotify_songs = spotify_songs.drop('playlist', 1)

spotify_songs = spotify_songs.rename(columns={"song_name": "Title", "artist_name": "Artist"})

spotify_songs = spotify_songs.drop_duplicates(subset="Title", keep="first")

C:\Users\yashb\AppData\Local\Temp\ipykernel_15960\2097802223.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  spotify_songs = spotify_songs.drop('album_names', 1)
C:\Users\yashb\AppData\Local\Temp\ipykernel_15960\2097802223.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  spotify_songs = spotify_songs.drop('playlist', 1)

# Cleaning Billboard Songs

In [6]:
billboard = pd.read_csv('data/billboard.csv', index_col=0)

In [7]:
billboard = billboard.drop('Year', 1)
billboard = billboard.drop_duplicates(subset="Title", keep="first")

C:\Users\yashb\AppData\Local\Temp\ipykernel_15960\1382406494.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  billboard = billboard.drop('Year', 1)

# Combining DataFrames

In [8]:
spotify_songs['Top100'] = 0
billboard['Top100'] = 1

In [9]:
combined_df = pd.concat([spotify_songs, billboard], ignore_index=True, sort=True)

In [10]:
combined_df = combined_df.drop_duplicates(subset="Title", keep="last")

In [11]:
combined_df

                      Artist              Title  Top100
1                Linkin Park         In The End       0
2          The White Stripes  Seven Nation Army       0
3      Red Hot Chili Peppers         By The Way       0
5                Evanescence   Bring Me To Life       0
6                 Papa Roach        Last Resort       0
...                      ...                ...     ...
14729           Daddy Yankee               Dura       1
14730           XXXTentacion            Changes       1
14731             Luke Combs    One Number Away       1
14732           Rae Sremmurd         Powerglide       1
14733               Dua Lipa              IDGAF       1

[14103 rows x 3 columns]

In [12]:
combined_df.to_csv('data/songs.csv')